@import "header.scss";
@import "buttons.scss";
@import "footer.scss";
@import "searchbar.scss";
@import "locationList.scss";
@import "wheel.scss";
@import "toggleButton.scss";
@import "charts.scss";
@import "404.scss";

@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  align-items: center;
  justify-content: center;
}

$light: #c2c5aa;
$lightFont: #333d29;
$ligtFontList: #dba95f;
$dark: #212f45;
$darkFont: #006466;
$darkFontList: #4d194d;

$textColorCommonWhite: #c2c5aa;
$textColorCommonBlack: #333d29;
$headerButton: #c2c5aa;
$headerButtonHoverColor: #a68a64;

body {
  &.light {
    background-color: $light;
    color: $lightFont;
    input {
      background-color: $light;
      caret-color: $lightFont;
      color: $lightFont;
      border-color: $lightFont;
    }
    .iconShadowMoon {
      display: none;
    }
    .locationList {
      background: $ligtFontList;
      ul {
        div {
          color: $lightFont;
        }
      }
    }
    .buttonToLocationList {
      background: $ligtFontList;
      color: $lightFont;
    }
  }
  header {
    background-color: $lightFont;
    h2 {
      color: $light;
    }
  }
  footer {
    color: $light;
    background-color: $lightFont;
  }
  .commonButtonFeatures {
    color: $light;
    &:hover {
      color: $light;
    }
  }
  .buttonsDiv {
    button {
      background-color: $headerButton;
      color: $textColorCommonBlack;
      &:hover {
        background-color: $headerButtonHoverColor;
        color: $textColorCommonWhite;
      }
    }
  }
  .searchButton,
  .saveToMyListButton,
  .deleteButton,
  .clearButton,
  .submitButton,
  .backButton,
  .clearButton {
    background-color: $textColorCommonBlack;
    &:hover {
      background: $headerButtonHoverColor;
      color: $textColorCommonBlack;
    }
  }
  &.dark {
    background-color: $dark;
    color: $darkFont;
    input {
      background-color: $darkFont;
      caret-color: $light;
      color: $light;
      border-color: $light;
    }
    .iconShadowSun {
      display: none;
    }

    .locationList {
      background: $darkFontList;
      ul {
        div {
          color: $light;
        }
      }
    }
    .buttonToLocationList {
      background: $darkFontList;
      color: $light;
    }
    header {
      background-color: $darkFontList;
      h2 {
        color: $darkFont;
      }
    }
    footer {
      color: $darkFont;
      background-color: $darkFontList;
    }

    .buttonsDiv {
      button {
        background-color: $darkFont;
        color: $light;
        &:hover {
          background-color: $light;
          color: $darkFont;
        }
      }
    }
    .searchButton,
    .saveToMyListButton,
    .backButton {
      background-color: $darkFontList;
      &:hover {
        background: $light;
        color: $darkFont;
      }
    }
    .deleteButton,
    .clearButton,
    .submitButton,
    .clearButton {
      background-color: $darkFont;
      &:hover {
        background: $light;
        color: $darkFont;
      }
    }
    .wheel {
      span {
        &:first-child {
          background-color: $darkFont;
        }
        &:nth-child(2) {
          background-color: $darkFont;
        }
        &:nth-child(3) {
          background-color: $darkFont;
        }
        &:last-child {
          background-color: $darkFont;
        }
        &:first-child::before {
          background-color: black;
        }
        &:nth-child(2)::before {
          background-color: black;
        }
        &:nth-child(3)::before {
          background-color: black;
        }
        &:last-child::before {
          background-color: black;
        }
      }
    }
  }
}
.chartContainer {
  width: 55vw;
  .fade {
    height: 46vh;
    canvas {
      height: 46vh !important;
    }
  }
}
.weatherDateDisplayContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}
.errors {
  display: flex;
  flex-direction: column;
  padding: 5px;
  button {
    margin: auto;
    margin-top: 5px;
  }
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  label {
    margin-right: auto;
    font-size: x-large;
  }
  h1 {
    margin-bottom: 40px;
    font-size: xxx-large;
  }
}

.rowContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  .rightDiv {
    margin-right: auto;
  }
  ul {
    margin-right: auto;
  }
  form {
    input {
      border-radius: 17px;
      outline: none;
    }
  }

  div {
    p {
      display: inline-flex;
    }
  }
  span {
    p {
      font-size: x-large;
    }
    h1 {
      font-size: xxx-large;
    }
  }
  .signIcon {
    margin-right: 5px;
  }
}
.containerWeatherData {
  @extend .container;
  height: auto;
  p {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 1%;
    margin-right: 1%;
  }
  h3 {
    font-size: 2.2rem;
    margin-right: 1%;
  }
}
.windDirectionContainer {
  align-items: flex-start;
  justify-content: flex-start;
}
table,
th,
td {
  border: 1px solid black;
}
.containerWheel {
  @extend .container;
  margin-left: auto;
  padding: 60px;
}
.bold {
  font-weight: bold;
}

.iconShadowSun {
  position: absolute;
  font-size: 200px;
  top: 0px;
  left: 50px;
}
.iconShadowMoon {
  position: absolute;
  font-size: 200px;
  top: 0px;
  left: 50px;
}

.weatherDataContainer,
.apiAnswer {
  display: contents;
}
.flexColumn {
  display: flex;
  flex-direction: column;
}

$ipadMin: 481px;
$ipadMax: 768px;
// *ipads,tablets
@media (min-width: $ipadMin) and (max-width: $ipadMax) {
  * {
    font-size: 14px !important;
    h1 {
      font-size: 30px !important;
    }
    h2 {
      font-size: 35px !important;
      svg {
        font-size: 30px !important;
      }
    }
    .bold {
      font-size: 20px;
    }
    form {
      margin-right: unset !important;
      input {
        min-width: 445px;
        min-height: 70px;
        font-size: 20px !important;
      }

      label {
        font-size: 35px !important;
      }
    }
  }
  footer {
    * {
      font-size: 12px !important;
    }
  }
  .eyeDiv,
  .visiblePasswordButtonIn {
    margin-top: 70px;
    svg {
      font-size: 20px !important;
    }
  }

  .containerWeatherData {
    height: auto;
    p {
      font-size: 1.2rem;
      font-weight: bold;
      margin-left: 1%;
      margin-right: 1%;
    }
    h3 {
      font-size: 2.2rem;
      margin-right: 1%;
    }
  }
  .locationList,
  .deleteButton,
  .buttonToLocationList,
  .saveToMyListButton {
    display: none;
  }
  .chartContainer {
    width: 80vw;
    .fade {
      height: 46vh;
      height: 46vh;
      canvas {
        height: 46vh !important;
      }
    }
  }
  .prev,
  .next {
    font-size: 40px !important;
  }
}
// *desktops
@media (min-width: $ipadMax) {
  span {
    p {
      font-size: 25px !important;
    }
  }
  button {
    font-size: 15px !important;
  }
  h1 {
    font-size: 30px !important;
  }
  h2 {
    font-size: 35px !important;
  }
  footer {
    * {
      font-size: 15px !important;
    }
  }

  form {
    margin-right: unset !important;
    input {
      min-width: 400px;
      min-height: 60px;
      font-size: 25px;
    }

    label {
      font-size: 30px !important;
    }
  }
  .weatherDataContainer {
    height: auto;
    h1 {
      font-size: 1.4rem !important;
    }
    svg {
      font-size: 1rem;
    }
    p {
      font-size: 1rem;
      font-weight: bold;
      margin-left: 1%;
      margin-right: 1%;
    }
    h3 {
      font-size: 1.2rem;
      margin-right: 1%;
    }
    canvas {
      width: 10rem;
    }
  }

  .prev,
  .next {
    font-size: 20px !important;
  }
}
// * mobile
@media (max-width: $ipadMin) {
  * {
    font-size: 15px !important;
    h1 {
      font-size: 35px !important;
    }
    h2 {
      font-size: 30px !important;
      svg {
        font-size: 30px !important;
      }
    }
    .bold {
      font-size: 20px !important;
    }

    form {
      margin-right: unset !important;
      input {
        min-width: 300px;
        min-height: 50px;
        font-size: 35px;
      }

      label {
        font-size: 25px !important;
      }
    }
  }
  footer {
    * {
      font-size: 10px !important;
    }
  }
  .eyeDiv,
  .visiblePasswordButtonIn {
    font-size: 40px !important;
  }

  .containerWeatherData {
    height: auto;
    p {
      font-size: 2.2rem;
      font-weight: bold;
      margin-left: 1%;
      margin-right: 1%;
    }
    h3 {
      font-size: 3.2rem;
      margin-right: 1%;
    }
  }
  .locationList,
  .deleteButton,
  .buttonToLocationList,
  .saveToMyListButton {
    display: none;
  }
  .chartContainer {
    width: 80vw;
    .fade {
      height: 46vh;
      canvas {
        height: 46vh !important;
      }
    }
  }
  .prev,
  .next {
    font-size: 40px !important;
  }
}
