.commonButtonFeatures {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 15px;
  transition: 0.8s;
  border: none;
  &:focus {
    outline: none;
  }
  &:hover {
    border: none;
  }
}

.buttonsDiv {
  margin-left: auto;
  display: flex;
  padding: 5px;
  button {
    @extend .commonButtonFeatures;
    margin: 5px;
    font-size: 12px;
  }
}
.searchButton {
  @extend .commonButtonFeatures;
  margin-left: auto;
  margin-top: 5px;
}

.submitButton {
  @extend .commonButtonFeatures;
  margin-left: auto;
  margin-top: 5px;
}

.backButton {
  @extend .commonButtonFeatures;
  margin-top: 25px;
}
.clearButton {
  @extend .commonButtonFeatures;
  margin-left: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  float: right;
}
.saveToMyListButton {
  @extend .commonButtonFeatures;
  margin-left: auto;
  margin-top: 5px;
}

.deleteButton {
  @extend .commonButtonFeatures;
}
.visiblePasswordButton {
  margin-top: 20px;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}
.visiblePasswordButtonIn {
  @extend .visiblePasswordButton;
  margin-top: 100px;
}

// .spin {
//   animation: spin 1s linear infinite;
// }
// .stopSpin {
//   animation-play-state: paused;
// }
// .spinButton {
//   @extend .commonButtonFeatures;
//   background: $submitButton;
//   &:hover {
//     background: $submitButtonHoverColor;
//   }
//   z-index: 10;
// }

// @keyframes spin {
//   100% {
//     transform: rotate(360deg);
//   }
// }
