.locationList {
  position: fixed;
  display: flex;
  flex-direction: column;
  min-height: 30vh;
  left: 0%;
  justify-content: center;
  align-items: center;
  width: 17vw;
  border-radius: 25%;
}

.buttonToLocationList {
  z-index: 1;
  position: fixed;
  left: 1%;
  top: 15%;
  cursor: pointer;
  padding: 10px;
  outline: none;
  border: none;
}
