.icon {
  position: absolute;
  font-size: 7rem;
}

.wheel {
  border: 3px solid black;
  height: 42vh;
  width: 42vh;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  shape-outside: circle(50%);

  .icon1 {
    @extend .icon;
    top: 30%;
  }
  .icon2 {
    @extend .icon;
    top: 0%;
    left: 35%;
  }
  .icon3 {
    @extend .icon;
    top: 30%;
    left: 62%;
  }
  .icon4 {
    @extend .icon;
    left: 31%;
    top: 55%;
  }

  span {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    &:first-child {
      clip-path: polygon(0 0, 0 100%, 50% 50%);
      background-color: black;
    }
    &:first-child::before {
      content: "";
      display: block;
      height: 97%;
      width: 98%;
      background-color: white;
      clip-path: polygon(0 0, 0 100%, 50% 50%);
    }
    &:nth-child(2) {
      clip-path: polygon(0 0, 100% 0, 50% 50%);
      background-color: black;
    }
    &:nth-child(2)::before {
      content: "";
      display: block;
      height: 95%;
      width: 100%;
      background-color: white;
      clip-path: polygon(0 0, 100% 0, 50% 50%);
    }
    &:nth-child(3) {
      clip-path: polygon(100% 100%, 100% 0, 50% 50%);
      background-color: black;
    }
    &:nth-child(3)::before {
      content: "";
      display: block;
      height: 97%;
      width: 100%;
      background-color: white;
      clip-path: polygon(100% 100%, 100% 0, 50% 50%);
    }
    &:last-child {
      clip-path: polygon(100% 100%, 0 100%, 50% 50%);
      background-color: black;
    }
    &:last-child::before {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      background-color: white;
      clip-path: polygon(100% 100%, 0 100%, 50% 50%);
    }
  }
}
.arrow {
  clip-path: polygon(
    0% 20%,
    60% 20%,
    60% 0%,
    100% 50%,
    60% 100%,
    60% 80%,
    0% 80%
  );
  background-color: black;
  height: 10vh;
  width: 5vw;
  transform: rotate(90deg);
}
